<div id="album" *ngIf="album">
    <div class="row">
        <div class="col-md-6">
            <header class="album-header">
                <div class="row">
                    <div class="col-md-4">
                        <div *ngIf="album.images.length > 0">
                            <img class="album-thumb img-circle" src="{{album.images[0].url}}">
                        </div>
                    </div>
                    <div class="col-md-8 mt-2">
                        <h2 *ngIf="album.artists.length > 0">
                            <span *ngFor="let artist of album.artists" style="color: #fff; font-size: 40px; text-align: center;">
                                {{artist.name}}
                            </span>
                        </h2>
                        <h2 style="font-size: 20px; color: #fff;">{{album.name}}</h2>
                        <div class="view">
                            <a class="btn btn-primary" href="{{album.external_urls.spotify}}"target="_blank">View in Spotify</a>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="col-md-6">
            <div class="album-tracks ml-3" style="padding: 10px;">
                <h2 style="text-align: left; margin-top: 10px; margin-bottom: 18px;">Album Tracks</h2>
                <div *ngFor="let track of album.tracks.items">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 style="margin-top: -20px; color: #fff; font-size: 16px; margin-bottom: 20px;">{{track.track_number}} - {{track.name}}</h5>
                            <div class="preview">
                                <div *ngIf="!(track.preview_url)">
                                    <p style="color: rgb(196, 0, 0); text-transform: uppercase; font-size: 10px;">no track to preview</p>
                                <a href="{{track.preview_url}}"target="_blank"style="pointer-events: none; opacity: .4;
                                cursor: default !important;">Preview Track</a>
                                </div>
                                <div *ngIf="(track.preview_url)">
                                <a href="{{track.preview_url}}"target="_blank" >Preview Track</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>