@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');
/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: #2b2b2b;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #2b2b2b;
    background: #2b2b2b;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 10px;
  }
p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }
*{
    background-color: black;
    font-family: 'Baloo Thambi 2', cursive;
}
.main{
    padding: 30px 0;
}
app-search a{
    color: #fff !important;
    text-decoration: none !important;
}
app-search .card{
    border: none;
}
app-search .card:hover{
    border: 1px solid #333;
}
.artist-header{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #333;
}

.artist-thumb{
    width: 80px;
    height: auto;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
}
.artist-albums .well{
    margin-bottom:20px;
    overflow: auto;
    min-height: 400px;
}
.album{
    text-align: center;
    background: #333;
    padding: 10px 20px;
    border: #666 1px solid;
}
.album-thumb{
    width: 100%;
}
app-artist a{
    color: #ffffff !important;
    background-color: #1db954 !important;
    border: none !important;
    border-radius: 30px !important;
    min-width: 100% !important;
    font-family: 'Montserrat', sans-serif;
}
app-artist a:hover{
    box-shadow: 3px 9px 10px rgb(27, 27, 27) !important;
    background-color: #1db954;
}
app-artist .artist-card .card{
    box-shadow: 3px 9px 10px rgb(27, 27, 27); 
    border: none; 
    border-radius: 8px !important;
  
}
app-artist .artist-card .card:hover{
    transform: scale(1.1);
    border: none;
}
app-artist h1{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
app-artist h4{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
app-album h2{
    text-align: center;
    color: #fff;
}
app-album .view a{
    color: #ffffff !important;
    background-color: #1db954 !important;
    border: none !important;
    border-radius: 30px !important;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    min-width: 100% !important;
}
app-album .view a:hover{
    transform: scale(1.1);
    border: none !important;
}
app-album .card{
    border: none;
}
app-album .card:hover{
    transform: scale(1.1);
    border: none !important;
}
app-album .preview a{
    color: #ffffff !important;
    background-color: #1db954 !important;
    border: none !important;
    border-radius: 30px !important;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    min-width: 100% !important;
    text-decoration: none !important;
    margin-bottom: 20px;
}
app-album .preview a:hover{
    transform: scale(1.1);
    border: 1px solid #333;
}
